.idea/
*.iml
*.ipr
*.iws
.classpath
.factorypath
.project
.settings/
target/
cache/
dependency-reduced-pom.xml
node_modules
node
build
build.config.js.sample
release.properties

.vscode
pom.xml.releaseBackup
yarn-error.log
