:local(.fixedTable) {
    table-layout: fixed;
    overflow-wrap: break-word;
}

:local(.bodyPreview) {
    font-family: monospace;
    font-size: 12px;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}
